    <div class="container-fluid">
      <div class="row">
        <nav class="col-4 col-md-2 d-md-block bg-light sidebar lefted-collapse" id="menu-nav">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#" role="tab">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="add-user-tab" data-toggle="pill" href="#add-user" role="tab" aria-controls="add-user" aria-selected="false">
                  <span data-feather="file"></span>
                  Пароль
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="edit-user-tab" data-toggle="pill" href="#edit-user" role="tab" aria-controls="edit-user" aria-selected="false">
                  <span data-feather="shopping-cart"></span>
                  Редактировать
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="del-user-tab" data-toggle="pill" href="#del-user" role="tab" aria-controls="del-user" aria-selected="false">
                  <span data-feather="users"></span>
                  Удалить
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="reports" data-toggle="pill" href="#reports" role="tab" aria-controls="reports" aria-selected="false">
                  <span data-feather="bar-chart-2"></span>
                  Отчёты
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="errors-tab" data-toggle="pill" href="#errors" role="tab" aria-controls="errors" aria-selected="false">
                  <span data-feather="layers"></span>
                  Ошибки
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 tab-content">
          <div class="tab-pane fade" id="add-user" role="tabpanel" aria-labelledby="add-user">
          <form class="form-signin" action="/update" method="post" autocomplete="off">
            <input type="password" name="pass" placeholder="Старый пароль" class="form-control" required>
            <input type="password" name="pass1" placeholder="Новый пароль" class="form-control" required>
            <input type="password" name="pass2" placeholder="Новый пароль" class="form-control" required>
            <button class="btn btn-lg btn-secondary btn-block" type="submit">ОБНОВИТЬ</button>
          </form>
          <script>
          const form = document.querySelector('form')
          form.addEventListener('submit', (e) => {
            e.preventDefault()
            if (form.pass1.value !== form.pass2.value) {
                toastr.options = {
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                };
                toastr["error"]("Пароли не совпадают!");
            } else {
              form.submit()
            }
          }, false)
        </script>
          </div>
          <div class="tab-pane fade" id="edit-user" role="tabpanel" aria-labelledby="edit-user">Редактирование пользователя</div>
          <div class="tab-pane fade" id="del-user" role="tabpanel" aria-labelledby="del-user">Удаление пользователя</div>

          <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->
          <div class="tab-pane fade" id="errors" role="tabpanel" aria-labelledby="errors">
          <h2>Section title</h2>
          <div class="table">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom fade"  id="reports" role="tabpanel" aria-labelledby="reports">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
        </main>
      </div>
    </div>