{% extends 'views/base/base.html' %}

{% block content %}
    <form class="form-signin" action="/signup" method="post" autocomplete="off">
      <input id="inputEmail" name="email" class="form-control" placeholder="Логин" type="email" required>
	  <input type="text" name="username" placeholder="Имя" class="form-control" required> 
      <input id="inputPassword" name="password" class="form-control" placeholder="Пароль" type="password" required>
      <button class="btn btn-lg btn-secondary btn-block" type="submit">РЕГИСТРАЦИЯ</button>
    </form>
{% endblock %}
